@model Sync162046.Areas.Aug102018.Details

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <ejs-calendar id="calendar"></ejs-calendar>
</div>
